html, body {
  height: 100%;
}

body {
  background-image: url(BACKGROUND.png);
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form {
  border-radius: 20px;
  width: 50%;
  max-width: 330px;
  padding: 40px 50px;
  background-color: rgba(255,255,255, 0.25);
  position: relative;
  text-align: center;
}

.avatar {
  position: absolute;
  width: 100px;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}

.title {
  color: #868787;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  position: relative;
  top: 20px;
}

.input-container {
  display: flex;
  border-radius: 8px;
  width: 100%;
  margin: 4vh 0;
  height: 60px;
  background-color: #fff;
  color: #868787;
}

.icon {
  padding: 14px;
  min-width: 35px;
  text-align: center;
  font-size: 2rem;
}

.input-field {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  color: #868787;
  background: transparent;
}

.login {
  border-radius: 8px;
  width:100%;
  color: #fff;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  border: 0;
  outline: 0;
  height: 60px;
  background-color: #45a5bf;
}

.bottom {
  color: #fff;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: #fff;
}

.footer-content {
  text-align: center;
  border-top: 2px solid #fff;
  padding: 5px;
  width: 50%;
  max-width: 430px;
}

.register-link {
  font-weight: bold;
}
